<label>Server Name</label>
<input 
  type="text" 
  class="form-control"
  (input)="onUpdateServerName($event)"
>
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
>
<!-- <p>{{ serverName }}</p> -->
<button 
  class="btn btn-primary" 
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
  >Add Server</button>
<!-- button gets disabled when the boolean is false -->
<!-- If [disabled] is set to true, it will disable when the boolean is true -->
<br>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ allowNewServer }}</p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>

<hr>
<label>#1 Assignment</label>
<input
  type="text"
  class="form-control"
  [(ngModel)]="userName"
>
<p>{{ userName }}</p>
<button
  class="btn btn-primary"
  [disabled]="userName === ''"
>
Reset Username
</button>

<hr>
<label>#2 Assignment</label>
<br>
<button
  class="btn btn-primary"
  [disabled]="password === ''"
  (click)="onPasswordUpdate()"
>
  Display Details
</button>
<p
  *ngIf="passwordToggle"
>
  {{ password }}
</p>
<!-- Either way works "index as i" or "let i = index" -->
<p 
  *ngFor="let pass of passwords; let i = index"
  [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
  [ngClass]="{'white-textual': i >= 4}"
>
  {{ pass }}
</p>