<label>Server Name</label>
<input 
  type="text" 
  class="form-control"
  (input)="onUpdateServerName($event)"
>
<p>{{ serverName }}</p>
<button 
  class="btn btn-primary" 
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
  >Add Server</button>
<!-- button gets disabled when the boolean is false -->
<!-- If [disabled] is set to true, it will disable when the boolean is true -->
<br>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ allowNewServer }}</p> -->
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
